PORT=5000
MONGO_URI=mongodb+srv://rathodashis40_db_user:tK2ymVZjw1kqc6Qy@test.vpy1odn.mongodb.net/mahalaxmi?retryWrites=true&w=majority&appName=test
JWT_SECRET=localconnect_super_secret_jwt_key_2024
JWT_EXPIRE=7d
NODE_ENV=development
OPENAI_API_KEY=your_openai_api_key_here
